<div class="scroll">
  <h5>Message board with <%= @other_user.username %></h5>
    <% if @message_board.messages.any? %>
      <div id="messages">
        <%= render partial: 'messages/message', collection: @message_board.messages.order(id: :asc) %>
      </div>
    <% else %>
      <div id="messages">
      </div>
    <% end %>
  </div>

  <%= render partial: 'messages/message_form', locals: {message: @message, message_board: @message_board} %>

  <p><%= link_to "Back to list of message boards", user_message_boards_path(current_user.id) %></p>
      
  <script>
    createMessageChannel();
    messageForm();
    $(".scroll").scrollTop($(".scroll")[0].scrollHeight);
  </script>