<div class="background-message-board">
  <div class="container-message-board">
    <h5>Message board with <%= @other_user.name %></h5>
      <% if @message_board.messages.any? %>
        <div class="container">
          <div class="row">
            <div class= "col-md-12 messages-text" id="messages" style="overflow-y; overflow-x:hidden; scroll; height:400px;">
              <%= render partial: 'messages/message', collection: @message_board.messages.order(id: :asc) %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="container">
          <div class="row">
            <div class= "col-md-12 messages-text" id="messages">
            </div>
          </div>
        </div>
      <% end %>
      <div class="container bottom-wrapper">
        <div class="row message-input-wrapper">
          <div class="col-md-12 messages-input">
            <%= render partial: 'messages/message_form', locals: {message: @message, message_board: @message_board} %>
          </div>
          <%= link_to "Delete Message Board with #{@other_user.name}", user_message_board_path(current_user, @message_board), method: :delete, data: {confirm:"Are you sure?"} %>
        </div>
      </div>
  </div>
</div>
