<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler ml-auto button-navbar" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Search</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Financial</a>
            <a class="dropdown-item" href="#">Family</a>
            <a class="dropdown-item" href="#">Food Rations</a>
            <a class="dropdown-item" href="#">Donations</a>
            <a class="dropdown-item" href="#">Health</a>
            <a class="dropdown-item" href="#">Elderly</a>
            <a class="dropdown-item" href="#">Children</a>
            <a class="dropdown-item" href="#">Teens</a>
            <a class="dropdown-item" href="#">Employment</a>
            <a class="dropdown-item" href="#">Homeless</a>
            <a class="dropdown-item" href="#">Mental Health</a>
            <a class="dropdown-item" href="#">Addictions</a>
            <a class="dropdown-item" href="#">Counselling</a>
            <a class="dropdown-item" href="#">Legal</a>
            <a class="dropdown-item" href="#">Special Needs</a>
            <a class="dropdown-item" href="#">Disability</a>
            <a class="dropdown-item" href="#">Miscellaneous</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>