<div class="col-md-3 mt-3">
  <% if @agencies.aggs["area"].present? %>
    <span>Agency</span>
    <ul class="menu">
    <% @agencies.aggs["area"]["buckets"].each do |filter| %>
      <li><%= link_to "#{filter["key"].humanize} (#{filter["doc_count"]})", "/agencies?area[]=#{filter["key"]}" %></li>
    <% end %>
    </ul>
  <% end %>

  <p></p>

  <% if @agencies.aggs["categories_name"].present? %>
    <span>Categories</span>
    <ul class="menu">
    <% @agencies.aggs["categories_name"]["buckets"].each do |filter| %>
      <li><%= link_to "#{filter["key"]} (#{filter["doc_count"]})", "/agencies?categories_name[]=#{filter["key"]}" %></li>
    <% end %>
    </ul>
  <% end %>
</div>


