<section id="agency-index">
  <div class="container">
    <div class="row">
      <%= render 'sidebar' %>
      <div id="load-more" class="col-md-7 mt-3">
        <%= render 'agency' %>
      </div>
    </div>
  </div>
</section>

