@import "bootstrap";

.card-body > h7 {
  color: #767676;
}
.card-body > h4 > a{
  color: #4d13af;
}
.card-body > h6 {
  color: #767676;
}

#agency-index {
  background-color: #A6D9CE
}

.card {
  background-color: #f8f9fa
}